# convert to build.env file
VAULT_ADDR=http://localhost:8200
VAULT_MOUNT_POINT=secret

VAULT_POSTGRES_ROLE_ID=your_postgres_role_id
VAULT_POSTGRES_SECRET_ID=your_postgres_secret_id
VAULT_POSTGRES_SECRET_PATH=task6/postgres/database
