# convert to .env file
POSTGRES_DB=your_database_name
POSTGRES_SCHEMA = your_schema_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

HOST=localhost

POSTGRES_HOST_AUTH_METHOD=scram-sha-256

LANG=ru_RU.UTF-8
LANGUAGE=ru_RU.UTF-8
LC_ALL=ru_RU.UTF-8

USERNAME_LENGTH_IN_BYTES=32
PASSWORD_LENGTH_IN_BYTES=64

CUSTOM_USER = your_custom_user_name
CUSTOM_PASSWORD = your_custom_user_password