version: '3'
services:
  postgres:
    build: 
      context: .
      args:
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_SCHEMA: ${POSTGRES_SCHEMA}
        CUSTOM_USER: ${CUSTOM_USER}
        CUSTOM_PASSWORD: ${CUSTOM_PASSWORD}
    env_file:
      - .env
    ports:
      - "5432:5432"
  app:
    build:
      context: ./src
    command: ["sh", "-c", "/bin/sh"]
    tty: true
    stdin_open: true
    env_file:
      - ./.env