# convert to .env file
HEALTHCHECK_PERIOD_IN_MINUTES=5

LOG_FILE_PATH=log.txt

VAULT_ADDR=http://vault:8200
VAULT_MOUNT_POINT=secret

VAULT_HEALTHCHECK_SECRET_PATH=task6/healthcheck/database
VAULT_HEALTHCHECK_ROLE_ID=your_healthcheck_role_id
VAULT_HEALTHCHECK_SECRET_ID=your_healthcheck_secret_id