# convert to vault.env file
POSTGRES_HOST=your_postgres_host
POSTGRES_DB=your_database

POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

VAULT_DEV_ROOT_TOKEN_ID=your_password
VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
VAULT_MOUNT_POINT=secret

VAULT_HEALTHCHEK_SECRET_PATH=task6/healthcheck/database
VAULT_HEALTHCHEK_POLICY=healthcheck-policy
VAULT_HEALTHCHEK_ROLE=healthcheck-role

VAULT_POSTGRES_SECRET_PATH=task6/postgres/database
VAULT_POSTGRES_POLICY=postgres-policy
VAULT_POSTGRES_ROLE=postgres-role
